body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  width:100%;
}

#nav {
  width:10%;
  height:1000px;
  margin:0px;
  padding:0px;
  position:fixed;
  left:0px;
  background-color:rgb(188, 188, 188);
}

#similarityButtons {
  margin:10px
}

#fileManager{
  margin:5px;
  height:1000px;
  border:3px solid black;
  border-radius: 5px;
}

.files{
  display:inline-block;
  padding:10px;
  
  text-align:center;

}

.captions{
  margin:0px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#openDirectory{
  background-color:rgb(51,137,255);
  border:none;
  color:white;
  padding:10px;
  font-size:36px;
  margin:10px;
  width:200px;
  border-radius: 5px;
}
#back{
  background-color:rgb(0, 0, 0);
  border:none;
  color:white;
  padding:10px;
  font-size:36px;
  margin:10px;
  width:200px;
  border-radius: 5px;
}

#openDirectory:hover{
  opacity:90%;
  cursor: pointer;
}
#back:hover{
  opacity:90%;
  cursor: pointer;
}

#fileButton:hover{
  opacity:90%;
  
}
#directoryButton:hover{
  opacity:90%;
  cursor: pointer;
  
}

#fileButton{
  background-color:none;
}